.about
    padding: 100px 0
    &__block
        display: flex
    &-img
        max-width: 100%
        width: 630px
        height: 500px
    &-content
        margin-top: 20px
        margin-left: 70px
        &__title
            margin-bottom: 10px
            font-size: 40px
            font-weight: 400
        &__text
            width: 382px

            font-size: 16px
            line-height: 25px
            color: $grey

@media (max-width: 1200px)
    .about
        padding: 80px 0
        &-img
            padding-left: 20px
            width: 430px
            height: 460px
        &-content
            margin-top: 0
            margin-left: 40px
            &__title
                margin-bottom: 5px
                font-size: 30px
            &__text
                padding-right: 20px
                width: 250px
                font-size: 12px
                line-height: 22px

@media (max-width: 768px)
    .about
        padding: 70px 0
        &__block
            flex-wrap: wrap
            justify-content: center
        &-img
            padding: 0
            width: 330px
            height: 260px
        &-content
            margin-top: 30px
            margin-left: 0
            &__title
                text-align: center
                font-size: 25px
            &__text
                padding-right: 0
                width: 400px
                font-size: 13px
                line-height: 22px