.callme
    padding: 0 0 100px
    &__line
        margin: 0 auto
        width: 294px
        background-color: #B07F5D
    &__block
        margin: 68px 30px 0
        display: flex
        align-items: center
        & input
            border: 1px solid #D4D4D4
            display: inline-block
            padding: 20px 20px
            background: $white
    &__phone
        display: flex
        &-btn
            width: 60px
            margin-top: 0
            margin-left: 30px
            padding: 30px 30px
        &-input
            width: 380px
            color: $grey
            text-align: center
            letter-spacing: 3px
            transition: border .3s linear
            &:focus
                outline: 0
                border: 1px solid lighten($main, 20%)
    &__btn
        display: block
        width: 240px
        margin: 50px auto 0
        font-weight: 600

        background-color: $main
    &__calc
        display: flex
        margin-left: 50px
.calc
    &__minus, &__plus
        transition: border .3s linear
        &:focus
            outline: 0
            border: 1px solid lighten($main, 20%)
    &__minus
        cursor: pointer
    &__plus
        cursor: pointer
        margin-right: 39px
    &__value
        width: 100px
        color: $grey
        text-align: center
        letter-spacing: 3px
        border-right: 0
        border-left: 0

.line
    position: relative
    &:before, &:after
        position: absolute
        content: ''
        width: 38px
        height: 2px
        background-color: $white
    &:before
        top: -8px
        left: -18px
    &:after
        bottom: -8px
        left: -18px

@media (max-width: 1200px)
    .callme
        padding: 0 0 80px
        &__block
            margin: 58px 0 0
            flex-wrap: wrap
            justify-content: center
        &__calc
            margin-left: 0
        &__phone
            margin-top: 30px
    .calc
        &__plus
            margin-right: 75px
            &:last-child
                margin-right: 0

@media (max-width: 768px)
    .callme
        padding: 0 0 70px
        &__block
            margin: 5px 0 0
        &__line
            margin-bottom: 40px
        &__phone
            margin-top: 30px
        &__btn
            width: 205px
    .calc
        &__plus
            margin-right: 75px
            &:last-child
                margin-right: 0