.collections
    padding: 0 0 80px
    &__title
        margin-bottom: 25px

        font-size: 40px
        font-weight: 400
        text-transform: uppercase
        text-align: center
    &__line
        margin-bottom: 50px
        background-color: #B07F5D
    &__block
        padding: 0 10px
        display: flex
        justify-content: space-between
        flex-wrap: wrap
    &__item span
        text-align: center
        display: block
        margin-top: 10px
    &__product-name
        font-size: 18px
        font-weight: 600
    &__price
        margin-bottom: 40px
        font-size: 28px
        font-weight: 400

@media (max-width: 1200px)
   .collections
        padding: 0 0 60px
        &__title
            margin-bottom: 20px
            font-size: 35px
        &__line
            margin-bottom: 40px
        &__item
            text-align: center
            flex: 0 0 50%
        &__product-name
            font-size: 16px
        &__price
            margin-bottom: 30px
            font-size: 25px

@media (max-width: 768px)
    .collections
        padding: 0 0 50px
        &__title
            margin-bottom: 15px
            font-size: 30px
        &__line
            margin-bottom: 30px
        &__item
            flex: 0 0 100%
        &__product-name
            font-size: 15px
        &__price
            margin-bottom: 20px
            font-size: 25px
