.contacts
    &__list
        list-style: none
    &__title
        font-size: 20px
        font-weight: 400
        margin-bottom: 30px
    &__item
        display: flex
        text-align: center
        margin-bottom: 20px
    &__img
        width: 20px
        height: 18px
    &__text
        font-size: 14px
        margin-left: 15px

@media (max-width: 768px)
    .contacts
        margin: 0 auto
        &__title
            margin-top: 30px