.footer
    position: relative
    padding: 130px 70px 170px
    background-color: $main
    color: $white
    &__block
        display: flex
        justify-content: space-between
    &-social
        &__text
            margin-bottom: 30px
            font-weight: 400
        &__link
            display: inline-block
            width: 60px
            height: 60px
            margin-right: 5px
            
            line-height: 70px
            text-align: center
            border-radius: 50%
            background: #fff
            transition: background .2s linear
            &:hover
                background: darken($grey, 20%)
            
        &__logo
            width: 25px
            height: 25px
            text-decoration: none
    &__logo
        margin: 10px 0 0
    & hr
        position: absolute
        width: 100%
        bottom: 40px
        left: 0
        background-color: #BFB99B

@media (max-width: 1200px)
    .footer
        padding: 110px 5px 150px

@media (max-width: 768px)
    .footer
        &__block
            text-align: center
            flex-direction: column
            justify-content: center
        &-social
            &__text
                margin-top: 20px
                margin-bottom: 20px