.header
    width: 100%
    background-color: $white
    transition: all .4s linear
    &__inner
        padding: 19px 5px
        display: flex
        justify-content: space-between
        align-items: center

@media (max-width: 1200px)
    .header
        &__inner
            padding: 15px 5px

@media (max-width: 768px)
    .header
        &__inner
            padding: 12px 3px
            flex-wrap: wrap
            flex-direction: column