.hero
    padding: 120px 0 280px
    background: url('../../assets/img/hero_bg.jpg') no-repeat center
    background-size: cover
    &__text
        display: inline-block
        padding: 0
        margin: 0
    &__title
        display: inline-block
        margin-top: 150px

        font-size: 58px
        font-weight: 400
        line-height: 1.8

@media (max-width: 1200px)
    .hero
        &__title
            margin-top: 95px
            font-size: 50px

@media (max-width: 768px)
    .hero
        padding: 90px 0 220px
        &__text
            padding: 0 30px
        &__title
            margin-top: 50px
            font-size: 35px