.nav
    &__link
        margin-right: 15px
        font-weight: 700
        font-size: 16px
        color: $black

        text-transform: uppercase
        text-decoration: none
        transition: color 0.2s linear
        &:hover
            color: lighten($main, 40%)

@media (max-width: 1200px)
    .nav
        &__link
            margin-right: 12px
            font-size: 15px

@media (max-width: 768px)
    .nav
        &__link
            margin-right: 10px
            font-size: 14px
        