.social
    &__item
        text-decoration: none
        margin-right: 10px
        &:last-child
            margin-right: 0
    &__icon
        width: 22px
        height: 22px

@media (max-width: 1200px)
    .social
        &__item
            margin-right: 8px
@media (max-width: 768px)
    .social
        &__item
            margin-right: 6px