*
    margin: 0
    padding: 0
    box-sizing: border-box
    
body
    font-family: 'Open Sans', sans-serif;
    color: $main

.container
    width: 1100px
    margin: 0 auto

.btn
    display: block
    width: 270px
    margin-top: 20px
    padding: 20px 52px

    font-size: 16px
    letter-spacing: 5px

    color: $white
    background-color: $black
    text-transform: uppercase
    text-decoration: none
    transition: background .2s linear
    &:hover
        background-color: lighten($main, 10%)

.fixed
    position: fixed
    top: 0
    left: 0
    z-index: 1
    box-shadow: 10px 0px 40px #00000012
    transition: all .4s linear

@media (max-width: 1200px)
    .container
        width: 768px
    .btn
        width: 250px
        padding: 18px 48px
        font-size: 15px

@media (max-width: 768px)
    .container
        width: 568px
    .btn
        width: 220px
        padding: 16px 40px
        font-size: 14px
    


